{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block stylesheets %}
    <link href="/resources/css/products.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="product">
        <h1 class="title">{{ product.title }}</h1>

		<div class="row">
			<div class="col col-sm-3 col-12 image-container">
				<img class="image" src="{{ product.image }}" alt="{{ product.title }}"/>
			</div>
			<div class="col col-sm-9 col-12">
				<h2 class="mt-4">{{ product.price }} €</h2>
				
				{% if product.quantity > 15 %}
					<div class="in-stock">En stock</div>
				{% elseif product.quantity > 0 %}
					<div class="last-items">Plus que {{ product.quantity }} en stock</div>
				{% else %}
					<div class="unavailable">Indisponible</div>
				{% endif %}

				<div class="d-grid d-sm-block gap-2">
					{% if product.quantity is not same as(0) %}
						<a class="btn btn-main btn-block-sm mt-4" href="#">Ajouter au panier</a>
					{% else %}
						<button class="btn btn-main btn-block-sm mt-4" disabled>Ajouter au panier</button>
					{% endif %}
				</div>
			</div>
		</div>
    </div>
{% endblock %}
